<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="amountForm">


      <div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="newAmount">Update Stock</label>
              <input type="text" id="newAmount" class="form-control" formControlName="newAmount">
            </div>
          </div>
        </div>
        <br>


        <div class="row">
          <div class="col-xs-12">
            <div class="btn-toolbar">
              <button class="btn btn-success" [disabled]="!this.amountForm.valid" (click)="deposit()">Deposit</button>
              <button class="btn btn-danger" [disabled]="!this.amountForm.valid" (click)="withdraw()">Withdraw</button>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
