<mat-toolbar color="warn" class="crm-navigation-bar">
  <mat-toolbar-row>


    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>


    <h1 [routerLink]="['/home']" routerLinkActive="router-link-active" style="cursor: pointer;">Items</h1>
    <span class="menu-spacer"></span>


  </mat-toolbar-row>
</mat-toolbar>



<mat-sidenav-container style="height: -webkit-fill-available;">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <b id="admin-navbar">
        <a mat-list-item [routerLink]="'/list'"> All items </a>
        <a mat-list-item [routerLink]="'/details'"> New Item</a>
      </b>
    </mat-nav-list>
  </mat-sidenav>



  <div class="container" id="wrapper">
    <div>
      <div class="col-md-12">
        <br>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>



</mat-sidenav-container>
