<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">

      <div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="itemName">Item Name</label>
              <input type="text" id="itemName" class="form-control" formControlName="itemName">
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="inventoryCode">Inventory Code</label>
              <input type="text" id="inventoryCode" class="form-control" formControlName="inventoryCode">
            </div>
          </div>
        </div>




        <hr>

        <div class="row">
          <div class="col-xs-12">
            <div class="btn-toolbar">
              <button type="submit" class="btn btn-success" [disabled]="!this.itemForm.valid">Save</button>
              <button type="submit" class="btn btn-danger" (click)="onCancel()">Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]="!this.itemForm.valid" [routerLink]="'/updateAmount'">Update Amount</button>

              <button class="btn btn-danger" (click)="deleteItem()">Delete Item</button>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
