<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="itemForm" (ngSubmit)="onSave()">

      <div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="itemName">Item Name</label>
              <input type="text" id="itemName" class="form-control" formControlName="itemName">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="amount">Amount</label>
              <input [readonly]="editMode" type="text" id="amount" class="form-control" formControlName="amount">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="inventoryCode">Inventory Code</label>
              <input type="text" id="inventoryCode" class="form-control" formControlName="inventoryCode">
            </div>
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-xs-12">
            <div class="btn-toolbar">
              <button type="submit" class="btn btn-success" [disabled]="!this.itemForm.valid">Save</button>
              <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
              <button class="btn btn-danger" (click)="deleteItem()">Delete Item</button>
            </div>
          </div>
        </div>
      </div>

    </form>

    <hr *ngIf="editMode">
    <app-update-amount *ngIf="editMode" [currentAmount]="currentAmount" [itemNo]="itemNo"></app-update-amount>

  </div>
</div>
